################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RTESpellCheckIssue/.vs/RTESpellCheckIssue
